<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style.css">
		<title>Practice</title>
	</head>
	<body>
		<div class="content" id="app-1">
			<div class="pipeline">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla laoreet vulputate. Ut accum
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla laoreet vulputate. Ut accum
					Lorem ipsum dolor sit ,
			</div>

			<div id="collaboration-app">
				<collaboration-tag
					v-for="item in list"
					v-bind:struct="item"
					v-bind:key="item.id">
				</collaboration-tag>
			</div>
			<div id="source-app">
				<source-tag
					v-for="item in list"
					v-bind:struct="item"
					v-bind:key="item.id">
				</source-tag>
			</div>
			<div id=environment-app>
			  	<environment-tag
				   	v-for="item in list"
				   	v-bind:struct="item"
				   	v-bind:key="item.id">
				</environment-tag>
			</div>

			<div id=foundations-app>
			  	<foundation-tag
				   	v-for="item in list"
				   	v-bind:struct="item"
				   	v-bind:key="item.id">
			  	</foundation-tag>
			</div>

		</div>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./main.js">	</script>
	</body>
</html>
