*{
	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
		  box-sizing: border-box;
}

body {
	background-color: #ecfof0f1;
}
h1 {
	color: #2c3e50;
}
h2 {
	color: red;
}
p {
	color: #34495e;
}

.floors {
	max-width: 70%;
	padding: 5%;
	max-height: 30%;
	border: solid blue 10px;
	margin-right: 20%;
	margin-bottom: 2.5%;
	margin-left: 10%;

}

.kitchen {
	max-width: 70%;
	padding: 5%;
	max-height: 30%;
	border: solid black 10px;
	margin-right: 20%;
	margin-left: 10%;
	margin-bottom: 2.5%;
}

.pipeline {
	float: left;
	max-width: 10%;
	padding: 5%;
	padding: 1%;
	border: solid green 10px;
	max-height: 20%
}

section {
	border: solid red 10px;
	width: 20%;
	height: 90%;
	padding: 5%;
	float: right;
}
